strong {
	color:red;
	font-size:1.4em;
}

body{
	background-image:url(image/ugaret.jpg)
	width:100%
	border-style: solid ;
	border-color:red;
}
}
#page{ 
width:100%;
}


#bann{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	}
	
#nav{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:orange;
	padding-top:40px;
	}	
	
#container {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}

#container a {
font-family:arial;
color:blue;
}	
#footer {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-size:0.7em;
	font-family:arial;
	font-weight:bold;
	clear:both;
	}
#lignemenu {
width:100%;
background-color:yellow;
padding-top:4px;
padding-bottom:4px;
}
#container a {
	font-family:arial;
color:blue;
}
#nav a:link, a:visited {
	
	width:15%;
	background-color:green;
	margin:1px;
	padding:6px 12px 4px 14px; /* tahdid wfq aaqarb alsaaa  */
	border-radius:40px;
	font-family:arial;
	color:yellow;
	text-decoration:none;
}


#nav a:hover{
	width:15%;
	background-image:url(image/foret.jpg);
	background-color:purple;
	margin:1px;
	padding:4px 12px 4px 12px;
	border-radius:40px;
	font-family:arial;
	color:white;
	text-decoration:none;	
}	

.img100{
	width:100;
		color:blue;
		font-size:1.7em;
	}
		
.grasbleu{
	color:black;
	font-size:1.4em;
} 
.grasvert{
	color:blue;
	font-size:1em;
} 
.h1{
	text-decoration:overline;
	color:blue;
}
 
.textg{
	
	font-family:tahoma,arial;
	font-size:1em;
	text-align:justify;
	color:black;
}

.boitecévilation{
	width:29%;
	float:left;
	padding:1%;
	background-color:turquoise;
	margin:1%;
}

.imgajust{
	width:95%;
	border-radius:12px;
	border-style:solid;
	border-width:5px;
	border-color:azur;
}
}

@media screen and (max-width:420px)
{
#imgajust
{
	width:95%;
	display:none;
	}

}